.container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.wrap {
  max-width: 300px;
  object-fit: cover;
  padding: 0;
}

.img {
  max-width: 100%;
  display: block;
}

.title {
  max-width: 250px;
  font-size: 18px;
  margin: 0 auto;
}
