.btn {
  border: none;
  border-radius: 16px;
  background: linear-gradient(to bottom, #2980b9, #6dd5fa);
  transition: all 0.25s ease;
  outline: none;
  margin: 0 auto;
}

.btn:hover {
  color: rgb(240, 255, 36);
}
